--color-surface-highest: #f5f5f5;
--color-surface-higher: #cccccc;
--color-surface-high: #aeafaf;
--color-surface-base: #454a4e;
--color-surface-low: #1f2328;
--color-surface-lower: #16181c;
--color-surface-lowest: #131419;

--color-background-blanket-light: #00000066;
--color-background-blanket-medium: #00000099;
--color-background-blanket-strong: #000000e5;

--color-background-system-base-on-light: #f6f7f7;
--color-background-system-base-on-dark: #2b2f36;

--color-background-system-subtle-on-light: #f5f5f5;
--color-background-system-subtle-on-dark: #1f2328;
--color-text-subtle-on-dark: #aeafaf;
--color-text-subtle-on-light: #787b7e;
--color-icon-subtle-on-light: #aeafaf;
--color-icon-subtle-on-dark: #787b7e;
--color-border-subtle-on-light: #aeafaf;
--color-border-subtle-on-dark: #787b7e;

--color-background-system-strong-on-light: #aeafaf;
--color-background-system-strong-on-dark: #16181c;

--color-background-system-hovered-on-light: #e7e7e7;
--color-background-system-hovered-on-dark: #3a4045;

--color-background-brand-base: #1394f2;
--color-background-brand-subtle: #c5ecfa;
--color-background-brand-strong: #04448c;
--color-background-brand-hovered: #61bef0;
--color-text-brand-base: #1394f2;
--color-text-brand-subtle: #61bef0;
--color-text-brand-strong: #075dad;
--color-text-brand-on-brand: #f2fcff;
--color-icon-brand-base: #1394f2;
--color-icon-brand-subtle: #61bef0;
--color-icon-brand-strong: #075dad;
--color-icon-brand-on-brand: #f2fcff;
--color-border-brand-on-brand: #f2fcff;
--color-border-brand-subtle: #9bdaf5;
--color-border-brand-base: #1394f2;
--color-border-brand-strong: #04448c;

--color-background-secondary-base: #5b6e9a;
--color-background-secondary-subtle: #b4c6d6;
--color-background-secondary-strong: #202e5c;
--color-background-secondary-hovered: #8298b8;
--color-text-secondary-base: #5b6e9a;
--color-text-secondary-subtle: #8298b8;
--color-text-secondary-strong: #202e5c;
--color-text-secondary-on-secondary: #f5f8fa;
--color-icon-secondary-base: #5b6e9a;
--color-icon-secondary-subtle: #8298b8;
--color-icon-secondary-strong: #202e5c;
--color-icon-secondary-on-secondary: #f5f8fa;
--color-border-secondary-on-secondary: #f5f8fa;
--color-border-secondary-subtle: #b4c6d6;
--color-border-secondary-base: #5b6e9a;
--color-border-secondary-strong: #202e5c;

--color-background-danger-base: #bc1010;
--color-background-danger-subtle: #f7ebe1;
--color-background-danger-strong: #bc1010;
--color-background-danger-strong-dark: #360202;
--color-background-danger-hovered: #d15f4b;
--color-text-danger-base: #bc1010;
--color-text-danger-subtle: #d15f4b;
--color-text-danger-strong: #bc1010;
--color-text-danger-on-danger: #fcf6f0;
--color-icon-danger-base: #bc1010;
--color-icon-danger-subtle: #d15f4b;
--color-icon-danger-strong: #bc1010;
--color-icon-danger-on-danger: #fcf6f0;
--color-border-danger-on-danger: #fcf6f0;
--color-border-danger-subtle: #e6ac93;
--color-border-danger-base: #d15f4b;
--color-border-danger-strong: #ab0e0e;

--color-background-warning-base: #f2bd52;
--color-background-warning-subtle: #fcf6e6;
--color-background-warning-strong: #ed9b0c;
--color-background-warning-strong-dark: #451801;
--color-background-warning-hovered: #f2bd52;
--color-text-warning-base: #8f4704;
--color-text-warning-subtle: #f2bd52;
--color-text-warning-strong: #ed9b0c;
--color-text-warning-on-warning: #fffcf2;
--color-icon-warning-base: #8f4704;
--color-icon-warning-subtle: #f2bd52;
--color-icon-warning-strong: #ed9b0c;
--color-icon-warning-on-warning: #fffcf2;
--color-border-warning-on-warning: #fffcf2;
--color-border-warning-subtle: #f7da99;
--color-border-warning-base: #f2bd52;
--color-border-warning-strong: #b36207;

--color-background-success-base: #2fbc46;
--color-background-success-subtle: #e6f7f0;
--color-background-success-strong: #27ab3d;
--color-background-success-strong-dark: #043609;
--color-background-success-hovered: #64d185;
--color-text-success-base: #11701e;
--color-text-success-subtle: #2fbc46;
--color-text-success-strong: #043609;
--color-text-success-on-success: #f2fcf8;
--color-icon-success-base: #11701e;
--color-icon-success-subtle: #2fbc46;
--color-icon-success-strong: #043609;
--color-icon-success-on-success: #f2fcf8;
--color-border-success-on-success: #f2fcf8;
--color-border-success-subtle: #a1e6bd;
--color-border-success-base: #64d185;
--color-border-success-strong: #11701e;

--color-background-information-base: #77a1d1;
--color-background-information-subtle: #e3f3fa;
--color-background-information-strong: #35578c;
--color-background-information-strong-dark: #0c1d42;
--color-background-information-hovered: #b1d5f0;
--color-text-information-base: #35578c;
--color-text-information-subtle: #b1d5f0;
--color-text-information-strong: #35578c;
--color-text-information-on-information: #fafeff;
--color-icon-information-base: #35578c;
--color-icon-information-subtle: #b1d5f0;
--color-icon-information-strong: #35578c;
--color-icon-information-on-information: #fafeff;
--color-border-information-on-information: #fafeff;
--color-border-information-subtle: #d0e7f5;
--color-border-information-base: #b1d5f0;
--color-border-information-strong: #5178ad;

--color-background-disabled-on-light: #f5f5f5;
--color-background-disabled-on-dark: #3a4045;
--color-text-disabled-on-light: #aeafaf;
--color-text-disabled-on-dark: #787b7e;
--color-icon-disabled-on-light: #cccccc;
--color-icon-disabled-on-dark: #787b7e;
--color-border-disabled-on-light: #cccccc;
--color-border-disabled-on-dark: #3a4045;

--color-text-on-dark: #f6f7f7;
--color-text-on-light: #1f2328;
--color-text-interactive: #1394f2;

--color-text-subtlest-on-dark: #454a4e;
--color-text-subtlest-on-light: #aeafaf;
--color-icon-subtlest-on-light: #cccccc;
--color-icon-subtlest-on-dark: #3a4045;
--color-border-subtlest-on-light: #cccccc;
--color-border-subtlest-on-dark: #3a4045;

--color-icon-on-dark: #f6f7f7;
--color-icon-on-light: #1f2328;

--color-border-on-dark: #f6f7f7;
--color-border-on-light: #1f2328;
